<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!Doctype html>
<html>
<head>

</head>
<style type="text/css">
  table,th,td{
    border:1px solid black;
    border-collapse:collapse;
  }
  </style>
  <body>
   
      
    
    <h1>ejercicio con tablas</h1>
   
      <table>
        <tr>
           <th>
             id
           </th>
             <th>
             username
           </th>
           <th>
             password
           </th>
           <th>
             name
           </th>
           <th>
             email
           </th>
        </tr>
        <tr *ngFor="let u of  listaUsuarios">
          <td>{{u.id}}</td>
          <td>{{u.userName}}</td>
          <td>{{u.password}}</td>
          <td>{{u.name}}</td>
          <td>{{u.email}}</td>
     
        </tr>

     
      
      </table>
     
  </body>


</html>



